# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the Pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the data

Load the file `'WorldCupMatches.csv'` as a DataFrame in Pandas.

In [2]:
# Import pandas using the standard alias
import pandas as pd 

# Import 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')

## Common methods and attributes

Use the correct method to look at the first 7 rows of the dataset.

In [6]:
# Print the first 7 rows of df
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [7]:
# Print the last 3 rows of df
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [8]:
# Print a concise summary of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
Year                    852 non-null int64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null int64
Away Team Goals         852 non-null int64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null int64
Half-time Away Goals    852 non-null int64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null int64
MatchID                 852 non-null int64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the number of rows and number of columns

In [9]:
# Print the number of rows and columns in df
df.shape

(852, 20)

Use the appropriate attribute to get the column names

In [10]:
# Print the column names of df
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame information

When looking at the DataFrame's `.head()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [12]:
# Print rows 3 through 5
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, print all the info from game 5-9, but we're only interested in printing out the, "Home Team Name" and the, "Away Team Name."

In [15]:
# Print rows 5 through 9 and columns 'Home Team Name' and 'Away Team Name'
df.loc[5:10,['Home Team Name'] + ['Away Team Name']]

   Home Team Name Away Team Name
5           Chile         Mexico
6      Yugoslavia        Bolivia
7             USA       Paraguay
8         Uruguay           Peru
9           Chile         France
10      Argentina         Mexico

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [23]:
# Print all info for games played in 1950 for Group 3
df.loc[(df['Year'] == 1950) & (df['Stage'] == 'Group 3'), : ]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games.

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [30]:
# Print the 'Attendance' column for games played in 1950 for Group 3
df.loc[(df['Year'] == 1950) & (df['Stage'] == 'Group 3'), ['Attendance']]

    Attendance
56     36502.0
61      7903.0
65     25811.0

Throughout the entire history of the World Cup, how many home games were played by the Netherlands?

In [33]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [35]:
# Number of home games played by the Netherlands
len(df.loc[df['Home Team Name'] == 'Netherlands', : ])

32

How many games were played by the Netherlands in total?

In [40]:
# Number of games played by the Netherlands in total
len(df.loc[(df['Home Team Name'] == 'Netherlands') | (df['Away Team Name'] == 'Netherlands'), : ])

54

Next, let's try and figure out how many games the USA played in the 2014 World Cup.

In [44]:
# Number of games the USA played in the 2014 world cup
us_wc_games = df.loc[(df['Home Team Name'] == 'USA') | (df['Away Team Name'] == 'USA'), : ]
print (us_wc_games)

     Year               Datetime              Stage  \
1    1930   13 Jul 1930 - 15:00             Group 4
7    1930   17 Jul 1930 - 14:45             Group 4
15   1930   26 Jul 1930 - 14:45         Semi-finals
24   1934   27 May 1934 - 16:30   Preliminary round
55   1950   25 Jun 1950 - 15:00             Group 2
62   1950   29 Jun 1950 - 15:00             Group 2
68   1950   02 Jul 1950 - 15:00             Group 2
416  1990   10 Jun 1990 - 17:00             Group A
427  1990   14 Jun 1990 - 21:00             Group A
441  1990   19 Jun 1990 - 21:00             Group A
466  1994   18 Jun 1994 - 11:30             Group A
478  1994   22 Jun 1994 - 19:30             Group A
488  1994   26 Jun 1994 - 16:00             Group A
505  1994   04 Jul 1994 - 12:30         Round of 16
531  1998   15 Jun 1998 - 21:00             Group F
545  1998   21 Jun 1998 - 21:00             Group F
559  1998   25 Jun 1998 - 21:00             Group F
595  2002   05 Jun 2002 - 18:00             Group D
609  2002   10 Jun 2002 - 15:30             Group D
626  2002   14 Jun 2002 - 20:30             Group D
633  2002  17 June 2002 - 15:30         Round of 16
637  2002   21 Jun 2002 - 20:30      Quarter-finals
653  2006   12 Jun 2006 - 18:00             Group E
669  2006   17 Jun 2006 - 21:00             Group E
685  2006   22 Jun 2006 - 16:00             Group E
712  2010   12 Jun 2010 - 20:30             Group C
729  2010   18 Jun 2010 - 16:00             Group C
745  2010   23 Jun 2010 - 16:00             Group C
757  2010   26 Jun 2010 - 20:30         Round of 16
785  2014   16 Jun 2014 - 19:00             Group G
803  2014   22 Jun 2014 - 18:00             Group G
816  2014   26 Jun 2014 - 13:00             Group G
835  2014   01 Jul 2014 - 17:00         Round of 16
843  2014   01 Jul 2014 - 17:00         Round of 16

                                   Stadium               City  Home Team Name  \
1                           Parque Central        Montevideo              USA
7                           Parque Central        Montevideo              USA
15                      Estadio Centenario        Montevideo        Argentina
24                           Nazionale PNF              Rome            Italy
55                        Durival de Brito          Curitiba            Spain
62                           Independencia    Belo Horizonte              USA
68                          Ilha do Retiro            Recife            Chile
416                               Comunale          Florence              USA
427                        Stadio Olimpico              Rome            Italy
441                               Comunale          Florence          Austria
466                     Pontiac Silverdome           Detroit              USA
478                              Rose Bowl       Los Angeles              USA
488                              Rose Bowl       Los Angeles              USA
505                       Stanford Stadium     San Francisco           Brazil
531                       Parc des Princes             Paris          Germany
545                       Stade de Gerland              Lyon              USA
559                           La Beaujoire            Nantes              USA
595                Suwon World Cup Stadium             Suwon              USA
609                Daegu World Cup Stadium             Daegu   Korea Republic
626              Daejeon World Cup Stadium           Daejeon           Poland
633               Jeonju World Cup Stadium            Jeonju           Mexico
637                 Munsu Football Stadium             Ulsan          Germany
653  FIFA World Cup Stadium, Gelsenkirchen     Gelsenkirchen              USA
669                   Fritz-Walter-Stadion    Kaiserslautern            Italy
685                        Franken-Stadion         Nuremberg            Ghana
712           Royal Bafokeng Sports Palace           Phokeng          England
729                     Ellis Park Stadium      Johannesburg         Slovenia
745                Loftus Versfeld Stadium  Tshwane/Pretoria              USA
757           Royal Bafokeng Sports Palace           Phokeng              USA
785                      Estadio das Dunas             Natal            Ghana
803                         Arena Amazonia            Manaus              USA
816                       Arena Pernambuco            Recife              USA
835                       Arena Fonte Nova          Salvador          Belgium
843                       Arena Fonte Nova          Salvador          Belgium

     Home Team Goals  Away Team Goals  Away Team Name  \
1                  3                0         Belgium
7                  3                0        Paraguay
15                 6                1             USA
24                 7                1             USA
55                 3                1             USA
62                 1                0         England
68                 5                2             USA
416                1                5  Czechoslovakia
427                1                0             USA
441                2                1             USA
466                1                1     Switzerland
478                2                1        Colombia
488                0                1         Romania
505                1                0             USA
531                2                0             USA
545                1                2            Iran
559                0                1      Yugoslavia
595                3                2        Portugal
609                1                1             USA
626                3                1             USA
633                0                2             USA
637                1                0             USA
653                0                3  Czech Republic
669                1                1             USA
685                2                1             USA
712                1                1             USA
729                2                2             USA
745                1                0         Algeria
757                1                2           Ghana
785                1                2             USA
803                2                2        Portugal
816                0                1         Germany
835                2                1             USA
843                2                1             USA

                    Win conditions  Attendance  Half-time Home Goals  \
1                                      18346.0                     2
7                                      18306.0                     2
15                                     72886.0                     1
24                                     25000.0                     3
55                                      9511.0                     0
62                                     10151.0                     1
68                                      8501.0                     2
416                                    33266.0                     0
427                                    73423.0                     1
441                                    34857.0                     0
466                                    73425.0                     1
478                                    93869.0                     1
488                                    93869.0                     0
505                                    84147.0                     0
531                                    45500.0                     1
545                                    39100.0                     0
559                                    35500.0                     0
595                                    37306.0                     3
609                                    60778.0                     0
626                                    26482.0                     2
633                                    36380.0                     0
637                                    37337.0                     1
653                                    52000.0                     0
669                                    46000.0                     1
685                                    41000.0                     2
712                                    38646.0                     1
729                                    45573.0                     2
745                                    35827.0                     0
757    Ghana win after extra time      34976.0                     0
785                                    39760.0                     0
803                                    40123.0                     0
816                                    41876.0                     0
835  Belgium win after extra time      51227.0                     0
843  Belgium win after extra time      51227.0                     0

     Half-time Away Goals                         Referee  \
1                       0               MACIAS Jose (ARG)
7                       0               MACIAS Jose (ARG)
15                      0             LANGENUS Jean (BEL)
24                      0               MERCET Rene (SUI)
55                      1               VIANA Mario (BRA)
62                      0          DATTILO Generoso (ITA)
68                      0            GARDELLI Mario (BRA)
416                     2       ROETHLISBERGER Kurt (SUI)
427                     0    CODESAL MENDEZ Edgardo (MEX)
441                     0           AL SHARIF Jamal (SYR)
466                     1  LAMOLINA Francisco Oscar (ARG)
478                     0              BALDAS Fabio (ITA)
488                     1        VAN DER ENDE Mario (NED)
505                     0              QUINIOU Joel (FRA)
531                     0              BELQOLA Said (MAR)
545                     1                 MEIER Urs (SUI)
559                     1         EL GHANDOUR Gamal (EGY)
595                     1              MORENO Byron (ECU)
609                     1                 MEIER Urs (SUI)
626                     0                    LU Jun (CHN)
633                     1        MELO PEREIRA Vitor (POR)
637                     0               DALLAS Hugh (SCO)
653                     2           AMARILLA Carlos (PAR)
669                     1           LARRIONDA Jorge (URU)
685                     1               MERK Markus (GER)
712                     1              SIMON Carlos (BRA)
729                     0           Koman COULIBALY (MLI)
745                     0        DE BLEECKERE Frank (BEL)
757                     0             KASSAI Viktor (HUN)
785                     1            ERIKSSON Jonas (SWE)
803                     1             PITANA Nestor (ARG)
816                     0           Ravshan IRMATOV (UZB)
835                     0           HAIMOUDI Djamel (ALG)
843                     0           HAIMOUDI Djamel (ALG)

                              Assistant 1                     Assistant 2  \
1                MATEUCCI Francisco (URU)           WARNKEN Alberto (CHI)
7                 APHESTEGUY Martin (URU)             TEJADA Anibal (URU)
15                   VALLEJO Gaspar (MEX)           WARNKEN Alberto (CHI)
24                   ESCARTIN Pedro (ESP)           ZENISEK Bohumil (TCH)
55             DA COSTA VIEIRA Jose (POR)       DE LA SALLE Charles (FRA)
62              DE LA SALLE Charles (FRA)          GALEATI Giovanni (ITA)
68                HEYEN Mario Ruben (PAR)           ALVAREZ Alfredo (BOL)
416           VAN LANGENHOVE Marcel (BEL)          SCHMIDHUBER Aron (GER)
427  CARDELLINO DE SAN VICENTE Juan (URU)        ULLOA MORERA Berny (CRC)
441                  LORENC Richard (AUS)            PETROVIC Zoran (SRB)
466                   TAIBI Ernesto (ARG)           ZARATE Venancio (PAR)
478               RAMICONE Domenico (ITA)  RHARIB El Jilali Mohamed (MAR)
488                     DOLSTRA Jan (NED)            DUNSTER Gordon (AUS)
505                   PARK Hae-Yong (KOR)           EVERSTIG Mikael (SWE)
531                  MANSRI Mohamed (TUN)            NILSSON Mikael (SWE)
545                  RAUSIS Laurent (SUI)        GRIGORESCU Nicolae (ROU)
559                    SALIE Achmat (RSA)               WARREN Mark (ENG)
595                    FIERRO Bomer (ECU)            HASSOUNEH Awni (JOR)
609                   BEREUTER Egon (AUT)             TOMUSANGE Ali (UGA)
626                    FIERRO Bomer (ECU)                 POOL Jaap (NED)
633                    MATOS Carlos (POR)             BEREUTER Egon (AUT)
637                    SHARP Philip (ENG)              ALTRAIFI Ali (KSA)
653                   ANDINO Amelio (PAR)             BERNAL Manuel (PAR)
669                     RIAL Walter (URU)             FANDINO Pablo (URU)
685               SCHRAER Christian (GER)        SALVER Jan-Hendrik (GER)
712                HAUSMANN Altemir (BRA)            BRAATZ Roberto (BRA)
729                  ACHIK Redouane (MAR)     MANUEL CANDIDO Inacio (ANG)
745                   HERMANS Peter (BEL)            VROMANS Walter (BEL)
757                      EROS Gabor (HUN)               VAMOS Tibor (HUN)
785               KLASENIUS Mathias (SWE)           WARNMARK Daniel (SWE)
803                  MAIDANA Hernan (ARG)        BELATTI Juan Pablo (ARG)
816           RASULOV Abduxamidullo (UZB)        KOCHKAROV Bakhadyr (KGZ)
835                  ACHIK Redouane (MAR)         ETCHIALI Abdelhak (ALG)
843                  ACHIK Redouane (MAR)         ETCHIALI Abdelhak (ALG)

      RoundID    MatchID Home Team Initials Away Team Initials
1         201       1090                USA                BEL
7         201       1097                USA                PAR
15        202       1088                ARG                USA
24        204       1135                ITA                USA
55        208       1208                ESP                USA
62        208       1202                USA                ENG
68        208       1194                CHI                USA
416       322        355                USA                TCH
427       322        265                ITA                USA
441       322         48                AUT                USA
466       337       3051                USA                SUI
478       337       3063                USA                COL
488       337       3073                USA                ROU
505       338       3090                BRA                USA
531      1014       8738                GER                USA
545      1014       8754                USA                IRN
559      1014       8768                USA                YUG
595  43950100   43950016                USA                POR
609  43950100   43950030                KOR                USA
626  43950100   43950048                POL                USA
633  43950200   43950053                MEX                USA
637  43950300   43950058                GER                USA
653  97410100   97410010                USA                CZE
669  97410100   97410025                ITA                USA
685  97410100   97410042                GHA                USA
712    249722  300061466                ENG                USA
729    249722  300061463                SVN                USA
745    249722  300061461                USA                ALG
757    249717  300061503                USA                GHA
785    255931  300186512                GHA                USA
803    255931  300186483                USA                POR
816    255931  300186469                USA                GER
835    255951  300186497                BEL                USA
843    255951  300186497                BEL                USA

In [ ]:
us_2014wc_games =

Now, let's try to find out how many countries participated in the 1986 World Cup.

Hint 1: as a first step, create a new dataset that only contains games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [ ]:
# Number of countries participated in the 1986 world cup

In World Cup history, how many matches had 5 goals or more in total?

In [1]:
# Number of matches that had 5 or more goals in total

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column, "Half-time Goals."

In [ ]:
# Create a new column 'Half-time Goals' in df

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
# Print all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [ ]:
# Update the 'Home Team Name' and 'Home Team Initials' columns

Make sure to verify your answer!

In [ ]:
# Check the updated columns

## Summary

In this lab, you learned how to access data within Pandas!